<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <title>Renaud N'zaou</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ i18n.head.description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../images/favicon.png" />
</head>
<body>
    {{#if isWeb}}
    <div id="loader-wrapper"><img src="../images/loader-white.svg" id="loader" /></div>
    {{/if}}
    <main role="main">
        <div class="p-5">
            <div class="mb-2">
                <figure id="contact-info">
                    <figcaption class="mb-1">{{ i18n.contact.heading }}</figcaption>
                    <ul class="secondary-list contact-list mb-1">
                        <li>N'zaou Renaud</li>
                        <li>
                            {{ i18n.contact.phone-number.label }}: 
                            {{#if isWeb}}
                            <span id="phone-placeholder">{{ i18n.contact.hidden }}</span>
                            {{else}}
                            {{ i18n.contact.phone-number.value }}
                            {{/if}}
                        </li>
                        <li>
                            {{ i18n.contact.email-address }}: 
                            {{#if isWeb}}
                            <span id="email-placeholder">{{ i18n.contact.hidden }}</span>
                            {{else}}
                            <a href="mailto:nzaou.renaud@gmail.com">nzaou.renaud@gmail.com</a>
                            {{/if}}
                        </li>
                        <li>{{ i18n.contact.location }}: Lyon, France</li>
                    </ul>
                    {{#if isWeb}}<button id="show-contact-fields">{{ i18n.contact.show-button }}</button>{{/if}}
                </figure>
            </div>
            <div class="mb-2">
                <img id="cv-picture" class="my-3 mx-auto" src="../images/me.png" />
            </div>
            <div class="mb-2">
                <h1 class="mb-1">{{ i18n.title.heading }}</h1>
                {{#if isWeb}}
                <div class="mb-1" id="lang-selection">
                    <a class="lang-selector" href="../en/index.html">
                        <img alt="English" src="../images/royaume-uni.png"/>
                    </a>
                    <a class="lang-selector" href="../fr/index.html">
                        <img alt="Français" src="../images/france.png"/>
                    </a>
                </div>
                {{/if}}
                <p class="text-center">{{ i18n.title.introduction }}</p>
            </div>
            <div class="mb-2">
                <h2 class="mb-1">{{ i18n.profile.heading }}</h2>
                <ul class="main-list">
                    <li>{{ i18n.profile.points.polyglot-programmer }}</li>
                    <li>{{ i18n.profile.points.security-oriented }}</li>
                    <li>{{ i18n.profile.points.wide-range-of-it-skills }}</li>
                </ul>
            </div>
            <div class="mb-2">
                <h2 class="mb-1">{{ i18n.skills.heading }}</h2>
                <table class="table">
                    <tr>
                        <td><strong>{{ i18n.skills.programming.label }}</strong></td>
                        <td>{{ i18n.skills.programming.content }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ i18n.skills.architecture.label }}</strong></td>
                        <td>{{ i18n.skills.architecture.content }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ i18n.skills.cicd.label }}</strong></td>
                        <td>{{ i18n.skills.cicd.content }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ i18n.skills.security.label }}</strong></td>
                        <td>{{ i18n.skills.security.content }}</td>
                    </tr>
                    <tr>
                        <td><strong>{{ i18n.skills.languages.label }}</strong></td>
                        <td>{{ i18n.skills.languages.content }}</td>
                    </tr>
                </table>
            </div>
            <div class="mb-2">
                <h2 class="mb-1">{{ i18n.career.heading }}</h2>
                <p><strong>{{ i18n.career.companies.vittascience.position }}</strong></p>
                <ul class="secondary-list">
                    <li>
                        {{ i18n.career.companies.vittascience.tasks.website-construction }}
                    </li>
                    <li>{{ i18n.career.companies.vittascience.tasks.arduino-web }}</li>
                    <li>{{ i18n.career.companies.vittascience.tasks.community-map }}</li>
                </ul>
            </div>
            <div class="mb-2">
                <p><strong>{{ i18n.career.companies.itnovem.position }}</strong></p>
                <ul class="secondary-list">
                    <li>{{ i18n.career.companies.itnovem.tasks.audits }}</li>
                    <li>{{ i18n.career.companies.itnovem.tasks.training }}</li>
                    <li>{{ i18n.career.companies.itnovem.tasks.analysis }}</li>
                    <li>{{ i18n.career.companies.itnovem.tasks.aap }}</li>
                    <li>{{ i18n.career.companies.itnovem.tasks.webapps }}</li>
                </ul>
            </div>
            <div class="mb-2">
                <p><strong>{{ i18n.career.companies.sncf.position }}</strong></p>
                <ul class="secondary-list">
                    <li>{{ i18n.career.companies.sncf.tasks.teaching }}</li>
                    <li>{{ i18n.career.companies.sncf.tasks.community-management }}</li>
                    <li>{{ i18n.career.companies.sncf.tasks.lead-dev-committee }}</li>
                    <li>{{ i18n.career.companies.sncf.tasks.aws }}</li>
                    <li>{{ i18n.career.companies.sncf.tasks.security }}</li>
                </ul>
            </div>
            <div class="mb-2">
                <h2 class="mb-2">{{ i18n.certifications.heading }}</h2>
                <ul class="main-list">
                    <li>{{ i18n.certifications.ceh }}</li>
                    <li>{{ i18n.certifications.toeic }}</li>
                    <li>{{ i18n.certifications.ccna }}</li>
                </ul>
            </div>
            <div class="mb-2">
                <h2 class="mb-1">{{ i18n.education.heading }}</h2>
                <ul class="main-list">
                    <li>{{ i18n.education.bac }}</li>
                    <li>{{ i18n.education.law-school }}</li>
                    <li>{{ i18n.education.esgi }}</li>
                </ul>
            </div>
            <div class="mb-2">
                <h2 class="mb-1">{{ i18n.links.heading }}</h2>
                <ul class="secondary-list">
                    <li>{{ i18n.links.blaze }}</li>
                    <li>{{ i18n.links.github }}</li>
                    <li>{{ i18n.links.old-github }}</li>
                </ul>
            </div>
            <div class="mb-2">
                <h2 class="mb-1">{{ i18n.about-me.heading }}</h2>
                <ul class="secondary-list">
                    <li>{{ i18n.about-me.love-to-learn }}</li>
                    <li>{{ i18n.about-me.friendly }}</li>
                    <li>{{ i18n.about-me.musical }}</li>
                </ul>
            </div>
        </div>
    </main>
    <script type="module" src="../js/loader.js"></script>
    {{#if isWeb}}
    <script type="module" src="../js/contact.js"></script>
    {{/if}}
</body>

</html>